<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Home</title>
    <link rel="icon" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="css/nice-select.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <head>
        <style>
            .navbar-nav .nav-link {
                font-size: 18px;
                font-weight: bold;
                color: #000;
            }
    
            .welcome-user {
                font-size: 18px;
                font-weight: bold;
                color: #000;
            }
    
            .profile-icon {
                font-size: 18px;
                font-weight: bold;
                color: #000;
                cursor: pointer;
                margin-left: 15px;
            }
    
            .profile-icon:hover,
            .nav-link:hover {
                color: #ff7f50;
            }
    
            .dropdown-menu .dropdown-item:hover {
                background-color: #f1f1f1;
                color: #343a40;
            }
    
            .profile_img img {
                border-radius: 50%;
            }
    
            .btn-upload {
                background-color: #4892dc;
                color: #fff;
                border: none;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
            }
    
            .btn-upload:hover {
                background-color: #ff7f50;
            }
    
            .main_menu {
                padding: 10px 0;
                background-color: #fff;
                color: #000;
            }
    
            .main_menu .navbar {
                padding: 0;
            }
    
            .main_menu .navbar-brand img {
                max-height: 40px;
            }
    
            .main_menu .navbar-nav .nav-item .nav-link {
                padding: 10px 15px;
                font-size: 16px;
                color: #000;
            }
    
            .main_menu .navbar-toggler {
                padding: 5px 10px;
            }
    
            .navbar-light .navbar-nav .nav-link {
                color: #000;
            }
    
            .navbar-light .navbar-nav .nav-link:hover {
                color: #ddd;
            }
        </style>
    </head>
    
    <body>
        <!--::header part start::-->
        <header class="main_menu home_menu">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="index.html"> <img src="img/logo.png" alt="logo"> </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
    
                            <div class="collapse navbar-collapse main-menu-item justify-content-center"
                                id="navbarSupportedContent">
                                <ul class="navbar-nav align-items-center">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="landing.ejs">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="about.html">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/add_driver">Become a Driver</a>
                                    </li>
                                    

                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="services.html">Services</a>
                                            <a class="dropdown-item" href="dep.html">Departments</a>
                                            <a class="dropdown-item" href="elements.html">Elements</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1"
                                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Blog
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                            <a class="dropdown-item" href="blog.html">Blog</a>
                                            <a class="dropdown-item" href="single-blog.html">Single Blog</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/complain">Missed a Ride</a>
                                    </ul>
                                </div>
                                <ul class="nav user-menu float-right">
                                    <li class="nav-item dropdown has-arrow">
                                        <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                                            <span class="user-img">
                                                <img class="rounded-circle" src="/assets/img/user.jpg" width="24" alt="User">
                                                <span class="status online"></span>
                                            </span>
                                            <span style="color: #000; font-weight: bold;"><%= username %></span>
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/user_profile">My Profile</a>
                                            <a class="dropdown-item" href="/user/edit_profile">Edit Profile</a>
                                            <a class="dropdown-item" href="/logout">Logout</a>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </body>
    <!-- Header part end-->
    

    <!-- booking part start-->
    <form id="bookingForm" action="/user/booking" method="POST">
        <section class="regervation_part section_padding">
            <div class="container">
                <div class="row align-items-center regervation_content">
                    <div class="col-lg-6">
                        <div class="regervation_part_iner">
                            <h2>Book a Ride</h2>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="inputName" placeholder="Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email address">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="inputPhone" placeholder="Phone Number">
                                </div>
                                <div class="form-group col-md-6">
                                    <select class="form-control" id="SelectService" name="service">
                                        <option value="1" selected>Select service</option>
                                        <option value="2">Regular Ride</option>
                                        <option value="3">Carpool</option>
                                        <option value="4">Express Ride</option>
                                        <option value="5">Wheelchair Accessible</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <select class="form-control" id="SelectPickupLocation" name="pickupLocation">
                                        <option value="" selected>Pick-up Location</option>
                                        <option value="1">Nairobi CBD</option>
                                        <option value="2">Westlands</option>
                                        <option value="3">Kilimani</option>
                                        <option value="4">Lavington</option>
                                        <option value="5">Karen</option>
                                        <option value="6">Ngong Road</option>
                                        <option value="7">Parklands</option>
                                        <option value="8">Muthaiga</option>
                                        <option value="9">Roysambu</option>
                                        <option value="10">South B</option>
                                        <option value="11">South C</option>
                                        <option value="12">Langata</option>
                                        <option value="13">Runda</option>
                                        <option value="14">Gigiri</option>
                                        <option value="15">Embakasi</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <select class="form-control" id="SelectDropoffLocation" name="dropoffLocation">
                                        <option value="" selected>Drop-off Location</option>
                                        <option value="1">University of Nairobi</option>
                                        <option value="2">Kenyatta University</option>
                                        <option value="3">Strathmore University</option>
                                        <option value="4">USIU</option>
                                        <option value="5">JKUAT</option>
                                        <option value="6">Daystar University</option>
                                        <option value="7">Riara University</option>
                                        <option value="8">Zetech University</option>
                                        <option value="9">Catholic University</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <select class="form-control" id="SelectPickupTime" name="pickupTime">
                                        <option value="" selected>Pickup Time</option>
                                        <option value="1">7:00 AM - 7:30 AM</option>
                                        <option value="2">7:30 AM - 8:00 AM</option>
                                        <option value="3">8:00 AM - 8:30 AM</option>
                                        <option value="4">8:30 AM - 9:00 AM</option>
                                        <option value="5">9:00 AM - 9:30 AM</option>
                                        <option value="6">9:30 AM - 10:00 AM</option>
                                        <option value="7">10:00 AM - 10:30 AM</option>
                                        <option value="8">10:30 AM - 11:00 AM</option>
                                        <option value="9">11:00 AM - 11:30 AM</option>
                                        <option value="10">11:30 AM - 12:00 PM</option>
                                        <option value="11">12:00 PM - 12:30 PM</option>
                                        <option value="12">12:30 PM - 1:00 PM</option>
                                        <option value="13">1:00 PM - 1:30 PM</option>
                                        <option value="14">1:30 PM - 2:00 PM</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <select class="form-control" id="SelectSchoolArrivalTime" name="schoolArrivalTime">
                                        <option value="" selected>University arrival time before</option>
                                        <option value="8:00 AM">8:00 AM</option>
                                        <option value="9:00 AM">9:00 AM</option>
                                        <option value="10:00 AM">10:00 AM</option>
                                        <option value="11:00 AM">11:00 AM</option>
                                        <option value="12:00 PM">12:00 PM</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <select class="form-control" id="SelectDropoffTime" name="dropoffTime">
                                        <option value="" selected>Pick up from university</option>
                                        <option value="2:00 PM - 2:30 PM">2:00 PM - 2:30 PM</option>
                                        <option value="2:30 PM - 3:00 PM">2:30 PM - 3:00 PM</option>
                                        <option value="3:00 PM - 3:30 PM">3:00 PM - 3:30 PM</option>
                                        <option value="3:30 PM - 4:00 PM">3:30 PM - 4:00 PM</option>
                                        <option value="4:00 PM - 4:30 PM">4:00 PM - 4:30 PM</option>
                                        <option value="4:30 PM - 5:00 PM">4:30 PM - 5:00 PM</option>
                                        <option value="5:00 PM - 5:30 PM">5:00 PM - 5:30 PM</option>
                                        <option value="5:30 PM - 6:00 PM">5:30 PM - 6:00 PM</option>
                                        <option value="6:00 PM - 6:30 PM">6:00 PM - 6:30 PM</option>
                                        <option value="6:30 PM - 7:00 PM">6:30 PM - 7:00 PM</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="DaysOfWeek">Days of the Week:</label>
                                    <div id="DaysOfWeek">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Monday" value="Monday">
                                            <label class="form-check-label" for="Monday">Monday</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Tuesday" value="Tuesday">
                                            <label class="form-check-label" for="Tuesday">Tuesday</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Wednesday" value="Wednesday">
                                            <label class="form-check-label" for="Wednesday">Wednesday</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Thursday" value="Thursday">
                                            <label class="form-check-label" for="Thursday">Thursday</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Friday" value="Friday">
                                            <label class="form-check-label" for="Friday">Friday</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Saturday" value="Saturday">
                                            <label class="form-check-label" for="Saturday">Saturday</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Sunday" value="Sunday">
                                            <label class="form-check-label" for="Sunday">Sunday</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea class="form-control" id="inputNote" rows="4" placeholder="Kindly indicate the name of the estate, house number or exact location name and any other specification(e.g., special requirements, preferred route)"></textarea>
                                </div>
                            </div>
                            <div class="regerv_btn">
                                <a href="#" class="btn_2" onclick="confirmBooking()">Book a Ride</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="reservation_img">
                            <img src="img/reservation.jpg" alt="" class="reservation_img_iner" style="width: 100%; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <!-- booking part end-->

     <!-- Confirmation Modal -->
     <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirm Your Booking</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="confirmationDetails"></p>
                    <p id="totalCost"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" onclick="calculateTotalCost()">Proceed to Payment</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Amount Modal -->
    <div class="modal fade" id="amountModal" tabindex="-1" role="dialog" aria-labelledby="amountModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="amountModalLabel">Amount to Pay</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="amountToPay"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="initiateMpesaPayment()">Pay with M-Pesa</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Payment Module Placeholder -->
    <div id="paymentModule" style="display: none;">
        <div id="container"></div>
    </div>

    <script>
        const dayCost = {
            "Monday": 1000,
            "Tuesday": 1000,
            "Wednesday": 1000,
            "Thursday": 1000,
            "Friday": 1000,
            "Saturday": 1,
            "Sunday": 1
        };

        const serviceMapping = {
            "1": "Select service",
            "2": "Regular Ride",
            "3": "Carpool",
            "4": "Express Ride",
            "5": "Wheelchair Accessible"
        };

        const locationMapping = {
            "1": "Nairobi CBD",
            "2": "Westlands",
            "3": "Kilimani",
            "4": "Lavington",
            "5": "Karen",
            "6": "Ngong Road",
            "7": "Parklands",
            "8": "Muthaiga",
            "9": "Roysambu",
            "10": "South B",
            "11": "South C",
            "12": "Langata",
            "13": "Runda",
            "14": "Gigiri",
            "15": "Embakasi"
        };

        const universityMapping = {
            "1": "University of Nairobi",
            "2": "Kenyatta University",
            "3": "Strathmore University",
            "4": "USIU",
            "5": "JKUAT",
            "6": "Daystar University",
            "7": "Riara University",
            "8": "Zetech University",
            "9": "Catholic University"
        };

        const pickupTimeMapping = {
            "1": "7:00 - 7:30 AM",
            "2": "7:30 - 8:00 AM",
            "3": "8:00 - 8:30 AM",
            "4": "8:30 - 9:00 AM",
            "5": "9:00 - 9:30 AM",
            "6": "9:30 - 10:00 AM",
            "7": "10:00 - 10:30 AM",
            "8": "10:30 - 11:00 AM",
            "9": "11:00 - 11:30 AM",
            "10": "11:30 - 12:00 PM",
            "11": "12:00 - 12:30 PM",
            "12": "12:30 - 1:00 PM",
            "13": "1:00 - 1:30 PM",
            "14": "1:30 - 2:00 PM"
        };
        const schoolArrivalTimeMapping = {
            "1": "8:00 - 8:30 AM",
            "2": "8:30 - 9:00 AM",
            "3": "9:00 - 9:30 AM",
            "4": "9:30 - 10:00 AM",
            "5": "10:00 - 10:30 AM",
            "6": "10:30 - 11:00 AM",
            "7": "11:00 - 11:30 AM",
            "8": "11:30 - 12:00 PM",
            "9": "12:00 - 12:30 PM",
            "10": "12:30 - 1:00 PM",
            "11": "1:00 - 1:30 PM",
            "12": "1:30 - 2:00 PM"
        };

        const dropoffTimeMapping = {
            "1": "2:00 - 2:30 PM",
            "2": "2:30 - 3:00 PM",
            "3": "3:00 - 3:30 PM",
            "4": "3:30 - 4:00 PM",
            "5": "4:00 - 4:30 PM",
            "6": "4:30 - 5:00 PM",
            "7": "5:00 - 5:30 PM",
            "8": "5:30 - 6:00 PM",
            "9": "6:00 - 6:30 PM",
            "10": "6:30 - 7:00 PM",
            "11": "7:00 - 7:30 PM"
        };

        function submitBookingForm() {
            // Submit the booking form
            document.getElementById('bookingForm').submit();
        }

        function confirmBooking() {
    // Gather form data
    event.preventDefault();
    var name = document.getElementById('inputName').value;
    var email = document.getElementById('inputEmail').value;
    var phone = document.getElementById('inputPhone').value;
    var service = document.getElementById('SelectService').value;
    var pickupLocation = document.getElementById('SelectPickupLocation').value;
    var dropoffLocation = document.getElementById('SelectDropoffLocation').value;
    var pickupTime = document.getElementById('SelectPickupTime').value;
    var schoolArrivalTime = document.getElementById('SelectSchoolArrivalTime').value;
    var dropoffTime = document.getElementById('SelectDropoffTime').value;
    var note = document.getElementById('inputNote').value;

    var days = [];
    var checkboxes = document.querySelectorAll('#DaysOfWeek input[type="checkbox"]:checked');
    checkboxes.forEach((checkbox) => {
        days.push(checkbox.value);
    });

    // Ensure that the mappings are used correctly
    var pickupTimeText = pickupTimeMapping[pickupTime] || 'Not specified';
    var schoolArrivalTimeText = schoolArrivalTime || 'Not specified';
    var dropoffTimeText = dropoffTime || 'Not specified';

    // Set confirmation details
    var confirmationDetails = `
        <strong>Name:</strong> ${name}<br>
        <strong>Email:</strong> ${email}<br>
        <strong>Phone:</strong> ${phone}<br>
        <strong>Service:</strong> ${serviceMapping[service]}<br>
        <strong>Pickup Location:</strong> ${locationMapping[pickupLocation]}<br>
        <strong>Dropoff Location:</strong> ${universityMapping[dropoffLocation]}<br>
        <strong>Pickup Time:</strong> ${pickupTimeText}<br>
        <strong>University Arrival Time:</strong> ${schoolArrivalTimeText}<br>
        <strong>Pick-up from University:</strong> ${dropoffTimeText}<br>
        <strong>Days:</strong> ${days.join(', ')}<br>
        <strong>Note:</strong> ${note}
    `;
    document.getElementById('confirmationDetails').innerHTML = confirmationDetails;

    // Show confirmation modal
    $('#confirmationModal').modal('show');
}

function calculateTotalCost() {
    var checkboxes = document.querySelectorAll('#DaysOfWeek input[type="checkbox"]:checked');
    var numberOfDays = checkboxes.length;
    var totalCost = 0;
    checkboxes.forEach((checkbox) => {
        totalCost += dayCost[checkbox.value];
    });

    document.getElementById('totalCost').innerHTML = `<strong>Total Cost:</strong> ${totalCost} KSH`;
    document.getElementById('amountToPay').innerHTML = `<b>Amount to Pay: ${totalCost} KSH</b>`;

    // Show amount modal
    $('#confirmationModal').modal('hide');
    $('#amountModal').modal('show');
}

function calculateTotalCost() {
    var checkboxes = document.querySelectorAll('#DaysOfWeek input[type="checkbox"]:checked');
    var numberOfDays = checkboxes.length;
    var totalCost = 0;
    checkboxes.forEach((checkbox) => {
        totalCost += dayCost[checkbox.value];
    });

    document.getElementById('totalCost').innerHTML = `<strong>Total Cost:</strong> ${totalCost} KSH`;
    document.getElementById('amountToPay').innerHTML = `<b>Amount to Pay: ${totalCost} KSH</b>`;

    // Show amount modal
    $('#confirmationModal').modal('hide');
    $('#amountModal').modal('show');
}
    
function formatPhoneNumber(phone) {
    if (phone.startsWith('0')) {
        phone = '254' + phone.substring(1);
    } else if (phone.startsWith('7')) {
        phone = '254' + phone;
    } else if (phone.startsWith('+254')) {
        phone = phone.substring(1);
    }

    return phone;
}

    async function initiateMpesaPayment() {
            const phone = document.getElementById('inputPhone').value;
            const totalCost = document.getElementById('amountToPay').textContent.replace('Amount to Pay: ', '').replace(' KSH', '');

            console.log('Phone:', phone, 'Total Cost:', totalCost);

            const response = await fetch('/api/payment/process', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ amount: totalCost, phone })
            });

            const data = await response.json();
            console.log(data);

            if (data.ResponseCode === '0') {
      alert('Payment initiated successfully. Please check your phone to complete the payment.');
         } else {
           alert(`Payment initiation failed: ${data.errorMessage || 'Unknown error'}`);
           }
         }

        </script>
      

    <!-- feature part start-->
    <section class="feature_part">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="section_tittle text-center">
                        <h2>Available Services</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-3 col-sm-12">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><img src="img/icon/feature_1.svg" alt=""></span>
                            <h4>Flexible Hours</h4>
                            <p>We offer flexible hours to suit your schedule.</p>
                        </div>
                    </div>
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><img src="img/icon/feature_2.svg" alt=""></span>
                            <h4>Safety</h4>
                            <p>Your safety is our priority.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="single_feature_img">
                        <img src="img/service.png" alt="service image">
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><img src="img/icon/feature_1.svg" alt=""></span>
                            <h4>Familiarity</h4>
                            <p>Our drivers are familiar with all routes.</p>
                        </div>
                    </div>
                    <div class="single_feature">
                        <div class="single_feature_part">
                            <span class="single_feature_icon"><img src="img/icon/feature_2.svg" alt=""></span>
                            <h4>Cost-Effective</h4>
                            <p>We offer the best prices in town.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- feature part end-->

    <!-- footer part start-->
    <footer class="footer-area">
        <div class="footer section_padding">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-2 col-md-4 col-sm-6 single-footer-widget">
                        <a href="#" class="footer_logo"> <img src="img/logo.png" alt="#"> </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                        <div class="social_logo">
                            <a href="#"><i class="ti-facebook"></i></a>
                            <a href="#"> <i class="ti-twitter"></i> </a>
                            <a href="#"><i class="ti-instagram"></i></a>
                            <a href="#"><i class="ti-skype"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-6 col-md-4 single-footer-widget">
                        <h4>Quick Links</h4>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Departments</a></li>
                            <li><a href="#"> Online payment</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-sm-6 col-md-4 single-footer-widget">
                        <h4>Explore</h4>
                        <ul>
                            <li><a href="#">In the community</a></li>
                            <li><a href="#">IU health foundation</a></li>
                            <li><a href="#">Family support </a></li>
                            <li><a href="#">Business solution</a></li>
                            <li><a href="#">Community clinic</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-sm-6 col-md-6 single-footer-widget">
                        <h4>Resources</h4>
                        <ul>
                            <li><a href="#">Lights were season</a></li>
                            <li><a href="#"> Their is let wherein</a></li>
                            <li><a href="#">which given over</a></li>
                            <li><a href="#">Without given She</a></li>
                            <li><a href="#">Isn two signs think</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-md-6 single-footer-widget">
                        <h4>Newsletter</h4>
                        <p>Seed good winged wherein which night multiply
                            midst does not fruitful</p>
                        <div class="form-wrap" id="mc_embed_signup">
                            <form target="_blank"
                                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                method="get" class="form-inline">
                                <input class="form-control" name="EMAIL" placeholder="Your Email Address"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
                                    required="" type="email">
                                <button class="click-btn btn btn-default text-uppercase"> <i class="ti-angle-right"></i>
                                </button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                        type="text">
                                </div>

                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright_part">
            <div class="container">
                <div class="row align-items-center">
                    <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                    <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"> <i class="ti-twitter"></i> </a>
                        <a href="#"><i class="ti-instagram"></i></a>
                        <a href="#"><i class="ti-skype"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer part end-->

    <!-- jquery plugins here-->
    <script src="js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- owl carousel js -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- contact js -->
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/contact.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>

</body>

</html>
